# compiled output
/dist
/node_modules
tsconfig.build.tsbuildinfo

# logs
*.log
npm-debug.log*

# env
.env
.env.local

# uploads (local dev file storage)
/uploads

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store

# tests
/coverage
/.nyc_output
